*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
}
html{
    font-size: 62.5%;
    color: white;
}
body { 
    background-image: url("../img fondo de pagina/fonpanta.jpg");
    background-size: cover;  
    flex-direction: column;
    padding: 1%;
    
}
header {
    background-image:url("../img header/banner1.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    align-items: center;
    height: 14rem;
}
.logo{
    width: 20%;
    height: 40%;
}
ul .navbar-nav{
    padding: 0;
}
ul{
    gap: 0.5rem;
}
.navbar-nav {
    --bs-nav-link-padding-x: 0;
     --bs-nav-link-padding-y: 0;
     }
/*inicio main*/
.home{
    padding: 2%;
}
.images1{
    padding: 1%;
    opacity: 70%;
    transition: transform .5s;
}
.images1:hover{
    transform: skew(12deg, 12deg);
}
.images2{
    padding: 1%;
    opacity: 70%;
    transition: transform .5s;
}
.images2:hover{
    transform: skew(-12deg, -12deg);
}
.images3{  
    padding: 1%;
    opacity: 70%;
    transition: transform .5s;
}
.images3:hover{
    transform: skew(-12deg, -12deg);
}
.images4{
    padding: 1%;
    opacity: 70%;
    transition: transform .5s;
}
.images4:hover{
    transform: skew(12deg, 12deg);
}
.intro {
    padding: 1px;
    font-size: 250%;
    word-wrap: break-word;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-column: 3/4;
    grid-row: 2/4;
    color: white;
}
.intro_texto{
    padding: 1px;
}
footer{
    color:white;
    font-size: 1.3rem;
    align-items: flex-end;
    margin: 2%;
}
/*inicio redes*/
.redes {
    width: 100%;
    height: 1.6%;  
    word-wrap: break-word;
    grid-column: 3/4;
    grid-row: 6;
    display: flex;
    justify-content: center;
    margin: 3%;
}
.inter__social {
    width: 45px;
    height: 45px;
}
.redes__link{
    border-radius: 50%;
}
.carousel-item{
    width: 40%;
    margin-left: 35%;
    margin-right: 35%;
}
.container h1{
    color: white;
    margin: 25px;
}
/*inicio productos*/
.productos{
    color: white;
}
.products {
    color: white;
    font-size: 1.5rem;
    /*display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(2,60px) repeat(2,150px);
    padding: 2px;
    margin-top: 2%; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    justify-content: center;
    justify-items: center;
    grid-gap: 5px;*/
}
.product2{
    color: white;
    grid-column: 1/5;
    grid-row: 1/3;
}
.inventario__lista1{
    grid-column: 1/2;
    grid-row: 3/5;
}
.inventario__lista2{
    grid-column: 2/3;
    grid-row: 3/5;
}
.inventario__lista3{
    grid-column: 3/4;
    grid-row: 3/5;
}
.inventario__lista4{
    grid-column: 4/5;
    grid-row: 3/5;
    padding: 1%;
}
.inventario__unidad{
    display: flex;
    flex-direction: column;
    margin: 3px;
}
/*inicio contactanos*/
.contacto {
    color:white;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    margin-bottom: 30rem;
}
.mb-3{
    width: 40%;
    display: flex;
    align-self: center;
}
.compras{
    color: white;
    font-size: 2rem;
}
.info{
    font-size: 2rem;
}
.carousel-control-next-icon, .carousel-control-prev-icon {    
    background-size: 80% 80%;
}
/*media querie*/
@media screen and (max-width: 1023px) { 
    *{
        box-sizing: border-box;
    }
    body{
        padding: 2%;
    }   
    header{
        min-width: 600px;
        max-width: 1023px;
        height: 10rem;
        flex-direction: row;
    }  
    header .menu{
        font-size: 1.9rem;
    }
    .products{  
        min-width: 600px;
        max-width: 1023px;
        grid-template-rows: 140px repeat(4, 130px);
        font-size: 2rem;
        padding: 2%;
        justify-content: center;
        justify-items: center;
        grid-gap: 2px;
    }
    .product2{
        grid-column: 1/5;
        grid-row: 1;
        font-size: 2.5vw;
        padding: 1%;
        margin-bottom: 1px;
        align-self: center;
        justify-items: center;
        grid-gap: 1px;
    }
    .inventario__lista1{
        grid-column: 1/3;
        grid-row: 2/4;
        align-self: center;
    }
    .inventario__lista2{
        grid-column: 3/5;
        grid-row: 2/4;
        align-self: center;
    }
    .inventario__lista3{
        grid-column: 1/3;
        grid-row: 4/6;
        align-self: center;
    }
    .inventario__lista4{
        grid-column: 3/5;
        grid-row: 4/6;
        align-self: center;
    }
    .contacto {
        font-size: 1.8rem;
        padding: 2px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .formulario{
        font-size: 1.5rem;
    }
}
 /*media 320/599*/ 
@media screen and (max-width: 599px) { 
    body{
        padding: 3%;
    }   
    header{
        min-width: 320px;
        max-width: 599px;
        height:7rem;
        padding: 8px;
    }  
    
    .redes{
        min-width: 320px;
        max-width: 599px;
        height: 5rem;
    }
    .products{  
        min-width: 320px;
        max-width: 599px;
        grid-template-rows: 100px repeat(4, 100px);
        font-size: 1.4rem;
        padding: 2%;
        justify-content: center;
        justify-items: center;
        grid-gap: 2px;
    }
    .product2{
        grid-column: 1/5;
        grid-row: 1;
        font-size: 2.6vw;
        padding: 1%;
        margin-bottom: 1px;
    }
    .inventario__lista1{
        grid-column: 1/3;
        grid-row: 2/4;
    }
    .inventario__lista2{
        grid-column: 3/5;
        grid-row: 2/4;
    }
    .inventario__lista3{
        grid-column: 1/3;
        grid-row: 4/6;
    }
    .inventario__lista4{
        grid-column: 3/5;
        grid-row: 4/6;
    }
    
}